In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv("train_and_test2.csv")[['Age','Pclass','Fare','survived']]

df.head()

    Age  Pclass     Fare  survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [3]:
df.isnull().mean() * 100

Age         0.763942
Pclass      0.000000
Fare        0.000000
survived    0.000000
dtype: float64

In [5]:
X = df.drop(columns=['survived'])
y = df['survived']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [12]:
y_train.shape

(1047,)

In [13]:
knn = KNNImputer(n_neighbors=5,weights='distance')
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [14]:
df=pd.DataFrame(X_train_trf,columns=X_train.columns)

In [15]:
df.isnull().mean() * 100

Age       0.0
Pclass    0.0
Fare      0.0
dtype: float64

In [16]:
lr = LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test,y_pred)

0.7404580152671756