# working with sql

In [1]:
#!pip install mysql connector

In [2]:
#import mysql.connector

In [5]:
#conn=mysql.connector(host='',user='',password='',database='datbasename)

In [6]:
#pd.read_sql_query(sql query,conn)

# working with jason

In [7]:
#importing pandas

In [8]:
#pd.read_jason('filename')